@mixin h1 {
  font-family: $ff-base;
  font-weight: 600;
  font-size: rem(26);
  line-height: rem(32);

  @include media-breakpoint-up(lg) {
    font-size: rem(50);
    line-height: 81%;
    letter-spacing: 1.75px;
  }
}

@mixin h2 {
  font-family: $ff-base;
  font-weight: 600;
  font-size: rem(22);
  line-height: rem(30);
  letter-spacing: 1.4px;

  @include media-breakpoint-up(lg) {
    line-height: 100%;
    font-size: rem(40);
  }
}

@mixin h3 {
  font-family: $ff-base;
  font-weight: 300;
  font-size: rem(20);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 160%;
}

@mixin text-lead {
  font-family: $ff-base;
  font-size: rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

@mixin text-body {
  font-family: $ff-base;
  font-weight: 400;
  font-size: rem(18);
  line-height: 202.9%;
}
