$color-primary: #11aeae !default;
$color-secondary: #bdbdbd !default;
$color-white: #f2f2f2 !default;
$color-black: #222327 !default;
$color-grey: #333 !default;
$color-bg: #333 !default;

// semantic colors
$color-link: $color-white;
$color-link-dark: #00133a;

$color-hover-primary: #23d4d3;

:root {
  --swiper-theme-color: #{$color-primary};
}
